<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欧美电影在线播放，最新电影</title>
    <link rel="stylesheet" type="text/css" href="css/wmoive.css">
</head>
<body>
<div class="wmovie">
    <!--类型搜索-->
    <div class="wmovie_search_div">
        <div class="type_search clearfix">
            <h5>类型</h5>
            <ul>
                <li><a href="#">动作片</a></li>
                <li><a href="#">爱情片</a></li>
                <li><a href="#">喜剧片</a></li>
                <li><a href="#">科幻片</a></li>
                <li><a href="#">战争片</a></li>
                <li><a href="#">恐怖片</a></li>
            </ul>
        </div>
        <div class="star_search clearfix">
            <h5>明星热搜</h5>
            <ul>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
                <li><a href="#">周星星</a></li>
            </ul>
        </div>
    </div>
    <!--动作片-->
    <div class="dz_movie movie_con clearfix">
        <div class="dz_movie_head movie_con_head clearfix">
            <h3>动作片</h3>
            <a href="#">更多</a>
        </div>
        <div class="dz_movie_content movie_con_content">
            <ul class="con_tv_ul  clearfix">
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!--右边列表1-->
    <div class="hot_play movie_right clearfix">
        <div class="teleplay_right_head clearfix">
            <h4>电影热播榜</h4>
        </div>
        <div class="teleplay_right_ul clearfix">
            <ul class="pf_ul">
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">01</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">02</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">03</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">04</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">05</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">06</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">07</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">08</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">09</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">10</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">11</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">12</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">13</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">14</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">15</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--空块-->
    <div class="empty_div"></div>
    <!--喜剧片-->
    <div class="happy_movie movie_con clearfix">
        <div class="gan_tai_teleplay_head movie_con_head clearfix">
            <h3>喜剧片</h3>
            <a href="#">更多</a>
        </div>
        <div class="gan_tai_teleplay_content movie_con_content">
            <ul class="con_tv_ul  clearfix">
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!--右边列表2-->
    <div class="newMovieList movie_right clearfix">
        <div class="teleplay_right_head clearfix">
            <!--<img src="img/123.jpg">-->
            <h4>最新电影</h4>
        </div>
        <div class="teleplay_right_ul clearfix">
            <ul class="pf_ul">
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">01</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">02</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">03</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">04</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">05</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">06</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">07</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">08</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">09</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">10</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">11</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">12</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">13</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">14</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">15</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--科幻片-->
    <div class="science_movie movie_con clearfix">
        <div class="science_movie_head movie_con_head clearfix">
            <h3>科幻片</h3>
            <a href="#">更多</a>
        </div>
        <div class="science_movie_content movie_con_content">
            <ul class="con_tv_ul  clearfix">
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!--空块-->
    <div class="empty_div"></div>
    <!--战争片-->
    <div class="war_movie movie_con clearfix">
        <div class="war_movie_head movie_con_head clearfix">
            <h3>战争片</h3>
            <a href="#">更多</a>
        </div>
        <div class="war_movie_content movie_con_content">
            <ul class="con_tv_ul  clearfix">
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!--右边列表3-->
    <div class="hotSearch movie_right clearfix">
        <div class="teleplay_right_head clearfix">
            <!--<img src="img/123.jpg">-->
            <h4>电影热搜榜</h4>
        </div>
        <div class="teleplay_right_ul clearfix">
            <ul class="pf_ul">
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">01</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">02</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">03</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">04</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">05</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">06</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">07</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">08</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">09</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">10</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">11</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">12</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">13</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">14</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
                <li>
                    <div class="pf_right_li_con">
                        <span class="num">15</span>
                        <a href="#">乡村爱情</a>
                        <span class="pf">9分</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--恐怖片-->
    <div class="kongBu_movie movie_con clearfix">
        <div class="kongBu_movie_head movie_con_head clearfix">
            <h3>恐怖片</h3>
            <a href="#">更多</a>
        </div>
        <div class="kongBu_movie_content movie_con_content">
            <ul class="con_tv_ul  clearfix">
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>
                <li>
                    <div class="con_tv_con">
                        <div class="a-img" >
                            <a class="con_tv_a" href="#">
                                <img src="img/周慧敏.jpg">
                                <span class="con_tv_span">动作片</span>
                            </a>
                        </div>
                        <p>爱的公寓</p>
                        <p>中国</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>